@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
}

.text-gradient {
  background: var(
    --linear,
    linear-gradient(97deg, #0017e1 -9.46%, #398893 24.68%, #e1b000 68.58%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  /* margin: 0 auto; */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.activeLink {
  width: 50%;
  height: 2px;
  background: var(--blue, #082b82);
}
