@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
}

.text-gradient {
  background: var(
    --linear,
    linear-gradient(97deg, #0017e1 -9.46%, #398893 24.68%, #e1b000 68.58%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
